<ul class="nav nav-tabs">
  <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#home">Ventas</a></li>
  <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#menu1">Usuarios</a></li>
  <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#menu2">Visitas</a></li>
</ul>

<div class="tab-content">
  <div id="home" class="tab-pane fade in active">
    <img src="./../../../assets/img/grafica.png" alt="">
  </div>
  <div id="menu1" class="tab-pane fade">
    <img src="./../../../assets/img/grafica.png" alt="">
  </div>
  <div id="menu2" class="tab-pane fade">
    <img src="./../../../assets/img/grafica.png" alt="">
  </div>
</div>