<nav class="navbar navbar-inverse sidebar" role="navigation">
    <div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" [routerLink]="['home']">Menu</a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li routerLinkActive="active"><a [routerLink]="['/dashboard/home']">Inicio<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span></a></li>
				<li routerLinkActive="active"><a [routerLink]="['/dashboard/ventas']">Ventas<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-shopping-cart"></span></a></li>
				<li routerLinkActive="active"><a [routerLink]="['/dashboard/almacen']">Almacen<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-barcode"></span></a></li>
				<li routerLinkActive="active"><a [routerLink]="['/dashboard/estadisticas']">Estadisticas<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-stats"></span></a></li>
				<!--<li routerLinkActive="active" class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Estadisticas <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-stats"></span></a>
					<ul class="dropdown-menu forAnimate" role="menu">
						<li><a href="#">Productos</a></li>
						<li><a href="#">Ventas</a></li>
						<li><a href="#">Utilidades</a></li>
					</ul>
				</li>-->
				<li li routerLinkActive="active"><a [routerLink]="['/dashboard/usuarios']">Usuarios<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span></a></li>
				<li class="dropdown">
					<a [routerLink]="['/dashboard/home']" class="dropdown-toggle" data-toggle="dropdown">Ajustes <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span></a>
					<ul class="dropdown-menu forAnimate" role="menu">
						<li><a [routerLink]="['home']">Ajuste 1</a></li>
						<li><a [routerLink]="['home']">Ajuste 2</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>
